body {
    padding: 15px;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  span {
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    margin: 0 10px;
    padding: 8px;
  }
  
  .childs {
    margin: 15px;
  }